EXAMPLES/CONTAINER/ServicesContract_v1_ESC/SID/EngagedPartyDomain/Skill_v1_EBO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.entel.cl/EBO/Skill/v1"
	
	targetNamespace="http://www.entel.cl/EBO/Skill/v1"
	elementFormDefault="qualified" version="1.0">	

	 <!---=- start:Imports -=- -->
	
	 <!---=- end:Imports -=- -->
	 
	<!---=- start:EBO Content -=- -->
	<!---=- start:EBO root elements defs -=- -->

	<xs:element name="activityCode" type="xs:integer"/>									
	<xs:element name="skillSpecification" type="xs:string"/>									
	<!---=- end:EBO root elements defs -=- -->

<!---=- start:EBO complexType defs -=- -->
	<xs:element name="Skill" type="tns:Skill_Type"/>
	<xs:complexType name="Skill_Type">
		
			<xs:annotation>
			<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">The ability, coming from one's knowledge, practice, aptitude, and so forth to do something well.</xs:documentation>
						
			</xs:annotation>
		<xs:sequence> 
		<xs:element ref="tns:activityCode" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:skillSpecification" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

<!---=- end:EBO complexType defs -=- -->
	<!---=- end:EBO Content -=- -->
	 
</xs:schema>	