EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_SC_FrameworkTest/SupportAPI/WSDL/LoggerManager_DummyWSDL.wsdl

<wsdl:definitions name="LoggerManager" targetNamespace="http://www.entel.cl/SC/LoggerManager/v1"
                  xmlns:tns="http://www.entel.cl/SC/LoggerManager/v1"
                  xmlns:log="http://www.entel.cl/SC/LoggerManager/log/v1"
                  xmlns:error="http://www.entel.cl/SC/LoggerManager/error/v1"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:rc_LoggerManager="http://www.entel.cl/SC/LoggerManager/refreshCache_LoggerManager/v1">
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.entel.cl/SC/LoggerManager/log/v1" schemaLocation="../../../DC_SC_LoggerManager/SupportAPI/XSD/CSM/log_LoggerManager_v2_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/LoggerManager/error/v1" schemaLocation="../../../DC_SC_LoggerManager/SupportAPI/XSD/CSM/error_LoggerManager_v2_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/LoggerManager/refreshCache_LoggerManager/v1" schemaLocation="../../../DC_SC_LoggerManager/SupportAPI/XSD/CSM/refreshCache_LoggerManager_v1_CSM.xsd"/>    
    </xs:schema>
  </wsdl:types>
  
  <wsdl:message name="log_Message_In">
    <wsdl:part name="In" element="log:LogREQ"/>
  </wsdl:message>
  
  <wsdl:message name="error_Message_In">
    <wsdl:part name="In" element="error:ErrorREQ"/>
  </wsdl:message>
  
  <wsdl:message name="refreshCache_Message_In">
    <wsdl:part name="In" element="rc_LoggerManager:RefreshCache_LoggerManagerREQ"/>
  </wsdl:message>
  
  <wsdl:message name="refreshCache_Message_Out">
    <wsdl:part name="Out" element="rc_LoggerManager:RefreshCache_LoggerManagerRSP"/>
  </wsdl:message>
  
  <wsdl:portType name="LoggerManager_PortType">
    <!--
          Operation Log 
          @Name log
          @Desc Registry Message funcionality
         -->
    <wsdl:operation name="log">
      <wsdl:input message="tns:log_Message_In"/>
    </wsdl:operation>
    <!--
          Operation Error 
          @Name error
          @Desc Registry Error funcionality
         -->
    <wsdl:operation name="error">
      <wsdl:input message="tns:error_Message_In"/>
    </wsdl:operation>
	
  </wsdl:portType>
  
   <wsdl:portType name="LoggerManager_CFG_PortType">
    <wsdl:operation name="refreshCache">
      <wsdl:input message="tns:refreshCache_Message_In"/>
      <wsdl:output message="tns:refreshCache_Message_Out"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="LoggerManager_SOAP12Binding" type="tns:LoggerManager_PortType">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="log">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="error">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:binding name="LoggerManager_CFG_SOAP12Binding" type="tns:LoggerManager_CFG_PortType">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="refreshCache">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal" parts="In"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" parts="Out"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LoggerManager_Service">
    <wsdl:port name="LoggerManager_Port" binding="tns:LoggerManager_SOAP12Binding">
      <wsoap12:address location="http://enteldomain:8001/LoggerManager"/>
    </wsdl:port>
    <wsdl:port name="LoggerManager_CFG_Port" binding="tns:LoggerManager_CFG_SOAP12Binding">
      <wsoap12:address location="http://enteldomain:8001/LoggerManager_CFG"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>