EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_SC_FrameworkTest/SupportAPI/WSDL/MessageManager_DummyWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageManager" xmlns:tns="http://www.entel.cl/SC/MessageManager/v1" 
                  xmlns:checkIN="http://www.entel.cl/SC/MessageManager/checkIN/v1" 
                  xmlns:checkOUT="http://www.entel.cl/SC/MessageManager/checkOUT/v1" 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:rcGetCapCh="http://www.entel.cl/SC/MessageManager/RefreshCache_GetCapabilityChecks/v1"
                  xmlns:rcGetCapChStat="http://www.entel.cl/SC/MessageManager/RefreshCache_GetCapabilityCheckStatus/v1"
                  xmlns:rcGetDefCh="http://www.entel.cl/SC/MessageManager/RefreshCache_GetDefaultChecks/v1"
                  xmlns:rc="http://www.entel.cl/SC/MessageManager/RefreshCache/v1"
                  targetNamespace="http://www.entel.cl/SC/MessageManager/v1"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.entel.cl/SC/MessageManager/checkIN/v1" schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/checkIN_MessageManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/MessageManager/checkOUT/v1" schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/checkOUT_MessageManager_v1_CSM.xsd"/>
            <xsd:import schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/refreshCache_getCapabilityChecks_MessageManager_v1_CSM.xsd" namespace="http://www.entel.cl/SC/MessageManager/RefreshCache_GetCapabilityChecks/v1"/>
            <xsd:import schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/refreshCache_getCapabilityCheckStatus_MessageManager_v1_CSM.xsd" namespace="http://www.entel.cl/SC/MessageManager/RefreshCache_GetCapabilityCheckStatus/v1"/>
            <xsd:import schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/refreshCache_getDefaultChecks_MessageManager_v1_CSM.xsd" namespace="http://www.entel.cl/SC/MessageManager/RefreshCache_GetDefaultChecks/v1"/>
            <xsd:import schemaLocation="../../../DC_SC_MessageManager/SupportAPI/XSD/CSM/refreshCache_MessageManager_v1_CSM.xsd" namespace="http://www.entel.cl/SC/MessageManager/RefreshCache/v1"/>
	  
	  
    </xs:schema>
  </wsdl:types>
    <wsdl:message name="checkIN_Message_In">
        <wsdl:part name="In" element="checkIN:checkINREQ"/>
    </wsdl:message>
	
    <wsdl:message name="checkIN_Message_Out">
        <wsdl:part name="Out" element="checkIN:checkINRSP"/>       
    </wsdl:message>
	
    <wsdl:message name="checkOUT_Message_In">
        <wsdl:part name="In" element="checkOUT:checkOUTREQ"/>
    </wsdl:message>
	
	<wsdl:message name="checkOUT_Message_Out">
        <wsdl:part name="Out" element="checkOUT:checkOUTRSP"/>
    </wsdl:message>
	
	<wsdl:message name="refreshCache_GetCapabilityChecks_Message_In">
        <wsdl:part name="In" element="rcGetCapCh:RefreshCache_GetCapabilityChecksREQ"/>
    </wsdl:message>
	
	<wsdl:message name="refreshCache_GetCapabilityChecks_Message_Out">
        <wsdl:part name="Out" element="rcGetCapCh:RefreshCache_GetCapabilityChecksRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_GetCapabilityCheckStatus_Message_In">
        <wsdl:part name="In" element="rcGetCapChStat:RefreshCache_GetCapabilityCheckStatusREQ"/>       
    </wsdl:message>
	
	<wsdl:message name="refreshCache_GetCapabilityCheckStatus_Message_Out">
        <wsdl:part name="Out" element="rcGetCapChStat:RefreshCache_GetCapabilityCheckStatusRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_GetDefaultChecks_Message_In">
        <wsdl:part name="In" element="rcGetDefCh:RefreshCache_GetDefaultChecksREQ"/>
    </wsdl:message>
	
	<wsdl:message name="refreshCache_GetDefaultChecks_Message_Out">
        <wsdl:part name="Out" element="rcGetDefCh:RefreshCache_GetDefaultChecksRSP"/>
    </wsdl:message>
	
	 <wsdl:message name="refreshCache_Message_In">
        <wsdl:part name="In" element="rc:RefreshCacheREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="refreshCache_Message_Out">
        <wsdl:part name="Out" element="rc:RefreshCacheRSP"/>
    </wsdl:message>
	
    <wsdl:portType name="MessageManager_PortType">
        <wsdl:operation name="checkIN">
            <wsdl:input message="tns:checkIN_Message_In"/>
            <wsdl:output message="tns:checkIN_Message_Out"/>
        </wsdl:operation>
        <wsdl:operation name="checkOUT">
            <wsdl:input message="tns:checkOUT_Message_In"/>
            <wsdl:output message="tns:checkOUT_Message_Out"/>
        </wsdl:operation>
    </wsdl:portType>
	
	 <wsdl:portType name="MessageManager_CFG_PortType">
        <wsdl:operation name="refreshCache_GetCapabilityChecks">
            <wsdl:input message="tns:refreshCache_GetCapabilityChecks_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetCapabilityChecks_Message_Out"/>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetCapabilityCheckStatus">
            <wsdl:input message="tns:refreshCache_GetCapabilityCheckStatus_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetCapabilityCheckStatus_Message_Out"/>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetDefaultChecks">
            <wsdl:input message="tns:refreshCache_GetDefaultChecks_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetDefaultChecks_Message_Out"/>
        </wsdl:operation>
        <wsdl:operation name="refreshCache">
            <wsdl:input message="tns:refreshCache_Message_In"/>
            <wsdl:output message="tns:refreshCache_Message_Out"/>
        </wsdl:operation>
    </wsdl:portType>
	
    <wsdl:binding name="MessageManager_SOAP12Binding" type="tns:MessageManager_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkIN">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkOUT">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	   
    <wsdl:binding name="MessageManager_CFG_SOAP12Binding" type="tns:MessageManager_CFG_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="refreshCache_GetCapabilityChecks">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetCapabilityCheckStatus">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetDefaultChecks">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>            
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>               
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>   
	
	<wsdl:service name="MessageManager_Service">
        <wsdl:port name="MessageManager_Port" binding="tns:MessageManager_SOAP12Binding">
            <wsoap12:address location="http://enteldomain:8001/MessageManager"/>
        </wsdl:port>
        <wsdl:port name="MessageManager_CFG_Port" binding="tns:MessageManager_CFG_SOAP12Binding">
            <wsoap12:address location="http://enteldomain:8001/MessageManager_CFG"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
