EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_SC_FrameworkTest/SupportAPI/WSDL/ParameterManager_DummyWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ParameterManager" targetNamespace="http://www.entel.cl/SC/ParameterManager/v1" 
                  xmlns:tns="http://www.entel.cl/SC/ParameterManager/v1" 
                  xmlns:get="http://www.entel.cl/SC/ParameterManager/get/v1" 
                  xmlns:getM="http://www.entel.cl/SC/ParameterManager/getMapping/v1" 
                  xmlns:getC="http://www.entel.cl/SC/ParameterManager/getConfig/v1" 
                  xmlns:getE="http://www.entel.cl/SC/ParameterManager/getEndpoint/v1"  
                  xmlns:rcGet="http://www.entel.cl/SC/ParameterManager/RefreshCache_Get/v1" 
                  xmlns:rcGetC="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetConfig/v1" 
                  xmlns:rcGetE="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetEndpoint/v1" 
                  xmlns:rcGetM="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetMapping/v1" 
                  xmlns:rc="http://www.entel.cl/SC/ParameterManager/RefreshCache/v1" 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/get/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/get_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/getMapping/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/getMapping_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/getConfig/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/getConfig_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/getEndpoint/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/getEndpoint_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/RefreshCache_Get/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/refreshCache_get_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetConfig/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/refreshCache_getConfig_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetEndpoint/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/refreshCache_getEndpoint_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/RefreshCache_GetMapping/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/refreshCache_getMapping_ParameterManager_v1_CSM.xsd"/>
            <xs:import namespace="http://www.entel.cl/SC/ParameterManager/RefreshCache/v1" schemaLocation="../../../DC_SC_ParameterManager/SupportAPI/XSD/CSM/refreshCache_ParameterManager_v1_CSM.xsd"/>
        </xs:schema>
    </wsdl:types>
    <!--
      Messages of Parameter Manager
    -->
    <wsdl:message name="get_Message_In">
        <wsdl:part name="In" element="get:GetREQ"/>
    </wsdl:message>
	
	<wsdl:message name="get_Message_Out">
        <wsdl:part name="Out" element="get:GetRSP"/>
    </wsdl:message>
	
    <wsdl:message name="getMapping_Message_In">
        <wsdl:part name="In" element="getM:GetMappingREQ"/>
    </wsdl:message>
	
	<wsdl:message name="getMapping_Message_Out">
        <wsdl:part name="Out" element="getM:GetMappingRSP"/>
    </wsdl:message>
	
    <wsdl:message name="getConfig_Message_In">
        <wsdl:part name="In" element="getC:GetConfigREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="getConfig_Message_Out">
        <wsdl:part name="Out" element="getC:GetConfigRSP"/>
    </wsdl:message>
	
    <wsdl:message name="getEndpoint_Message_In">
        <wsdl:part name="In" element="getE:GetEndpointREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="getEndpoint_Message_Out">
        <wsdl:part name="Out" element="getE:GetEndpointRSP"/>
    </wsdl:message>
    
    <!--
      Messages of Parameter Manager CFG
    -->
    <wsdl:message name="refreshCache_Get_Message_In">
        <wsdl:part name="In" element="rcGet:RefreshCache_GetREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="refreshCache_Get_Message_Out">
        <wsdl:part name="Out" element="rcGet:RefreshCache_GetRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_GetConfig_Message_In">
        <wsdl:part name="In" element="rcGetC:RefreshCache_GetConfigREQ"/>
    </wsdl:message>
	
	<wsdl:message name="refreshCache_GetConfig_Message_Out">
        <wsdl:part name="Out" element="rcGetC:RefreshCache_GetConfigRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_GetEndpoint_Message_In">
        <wsdl:part name="In" element="rcGetE:RefreshCache_GetEndpointREQ"/>
    </wsdl:message>
	
	  <wsdl:message name="refreshCache_GetEndpoint_Message_Out">
        <wsdl:part name="Out" element="rcGetE:RefreshCache_GetEndpointRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_GetMapping_Message_In">
        <wsdl:part name="In" element="rcGetM:RefreshCache_GetMappingREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="refreshCache_GetMapping_Message_Out">
        <wsdl:part name="Out" element="rcGetM:RefreshCache_GetMappingRSP"/>
    </wsdl:message>
	
    <wsdl:message name="refreshCache_Message_In">
        <wsdl:part name="In" element="rc:RefreshCacheREQ"/>
    </wsdl:message>
	
	 <wsdl:message name="refreshCache_Message_Out">
        <wsdl:part name="Out" element="rc:RefreshCacheRSP"/>
    </wsdl:message>
    
    <wsdl:portType name="ParameterManager_PortType">
        <!-- 
          Operation Get Parameters 
          @Name get
          @Desc Return value (0..1) associated to the unique key sent as parameter.
         -->
        <wsdl:operation name="get">
            <wsdl:input message="tns:get_Message_In"/>
            <wsdl:output message="tns:get_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Mapping
          @Name getMapping
          @Desc Returns a value (0..1) corresponding to a given destination system, through its association with a source univocal system associated value and the same family.
         -->
        <wsdl:operation name="getMapping">
            <wsdl:input message="tns:getMapping_Message_In"/>
            <wsdl:output message="tns:getMapping_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Endpoint 
          @Name getEndpoint
          @Desc Returns a specific endpoint (0..1), with configurational information required for use associated to a capacity, of a particular API to a pre-defined resource sent as parameter.
         -->
        <wsdl:operation name="getEndpoint">
            <wsdl:input message="tns:getEndpoint_Message_In"/>
            <wsdl:output message="tns:getEndpoint_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Config 
          @Name getConfig
          @Desc Returns settings (0..N) associated with an execution context sent as a parameter.
         -->
        <wsdl:operation name="getConfig">
            <wsdl:input message="tns:getConfig_Message_In"/>
            <wsdl:output message="tns:getConfig_Message_Out"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!--
        Portype CFG
    -->
    <wsdl:portType name="ParameterManager_CFG_PortType">
        <!-- 
          Operation Get Lazy Refresh
          @Name getLazyRefresh
          @Desc Erase the entries stored in the cache related to the get operation of the Parameter Manager.
         -->
        <wsdl:operation name="refreshCache_Get">
            <wsdl:input message="tns:refreshCache_Get_Message_In"/>
            <wsdl:output message="tns:refreshCache_Get_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Mapping Lazy Refresh
          @Name getMappingLazyRefresh
          @Desc Erase the entries stored in the cache related to the getMapping operation of the Parameter Manager.
         -->
        <wsdl:operation name="refreshCache_GetConfig">
            <wsdl:input message="tns:refreshCache_GetConfig_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetConfig_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Endpoint Lazy Refresh
          @Name getEndpointLazyRefresh
          @Desc Erase the entries stored in the cache related to the getEndpoint operation of the Parameter Manager.
         -->
        <wsdl:operation name="refreshCache_GetEndpoint">
            <wsdl:input message="tns:refreshCache_GetEndpoint_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetEndpoint_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Get Config Lazy Refresh
          @Name getConfigLazyRefresh
          @Desc Erase the entries stored in the cache related to the getConfig operation of the Parameter Manager.
         -->
        <wsdl:operation name="refreshCache_GetMapping">
            <wsdl:input message="tns:refreshCache_GetMapping_Message_In"/>
            <wsdl:output message="tns:refreshCache_GetMapping_Message_Out"/>
        </wsdl:operation>
        <!--
          Operation Lazy Refresh All 
          @Name lazyRefreshAll
          @Desc Erase all the entries stored in the cache related to the Parameter Manager.
         -->
        <wsdl:operation name="refreshCache">
            <wsdl:input message="tns:refreshCache_Message_In"/>
            <wsdl:output message="tns:refreshCache_Message_Out"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ParameterManager_SOAP12Binding" type="tns:ParameterManager_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMapping">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfig">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEndpoint">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!--
        Binding CFG
    -->
    
    <wsdl:binding name="ParameterManager_CFG_SOAP12Binding" type="tns:ParameterManager_CFG_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="refreshCache_Get">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetConfig">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetEndpoint">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache_GetMapping">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refreshCache">
            <wsoap12:operation style="document" soapAction=""/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ParameterManager_Service">
        <wsdl:port name="ParameterManager_Port" binding="tns:ParameterManager_SOAP12Binding">
            <wsoap12:address location="http://enteldomain:8001/ParameterManager"/> 
        </wsdl:port>
        <wsdl:port name="ParameterManager_CFG_Port" binding="tns:ParameterManager_CFG_SOAP12Binding">
            <wsoap12:address location="http://enteldomain:8001/ParameterManager_CFG"/> 
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>