EXAMPLES/SID/CustomerDomain/CustomerQuote_v1_EBO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.entel.cl/EBO/CustomerQuote/v1"
	
	targetNamespace="http://www.entel.cl/EBO/CustomerQuote/v1"
	elementFormDefault="qualified" version="1.0">	

	 <!---=- start:Imports -=- -->
	
	 <!---=- end:Imports -=- -->
	 
	<!---=- start:EBO Content -=- -->
	<!---=- start:EBO root elements defs -=- -->

	<xs:element name="ID" type="xs:string">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation>Unique identifier for Interaction.</xs:documentation>
				</xs:annotation>
			</xs:element>									
	<xs:element name="description" type="xs:string">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation>Narrative that explains the interaction and details about the interaction, such as why the interaction is taking place.</xs:documentation>
				</xs:annotation>
			</xs:element>									
	<xs:element name="expirationDate" type="xs:dateTime"/>									
	<xs:element name="interactionDate" type="xs:dateTime">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation>Date interaction initiated.</xs:documentation>
				</xs:annotation>
			</xs:element>									
	<xs:element name="interactionDateComplete" type="xs:dateTime">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation>The date on which an interaction is closed or completed.</xs:documentation>
				</xs:annotation>
			</xs:element>									
	<xs:element name="interactionStatus" type="xs:string">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation>The current condition of an interaction, such as open, in research, closed, and so forth.</xs:documentation>
				</xs:annotation>
			</xs:element>									
	<xs:element name="quateOn" type="xs:string"/>									
	<!---=- end:EBO root elements defs -=- -->

<!---=- start:EBO complexType defs -=- -->
	<xs:element name="CustomerQuote" type="tns:CustomerQuote_Type"/>
	<xs:complexType name="CustomerQuote_Type">
		
			<xs:annotation>
			<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">An price estimate (quote) or a presentation for sale (offer) of product offerings to a party playing a role.</xs:documentation>
						
			</xs:annotation>
		<xs:sequence> 
		<xs:element ref="tns:ID" maxOccurs="1" minOccurs="1"/>
		<xs:element ref="tns:description" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:expirationDate" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:interactionDate" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:interactionDateComplete" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:interactionStatus" maxOccurs="1" minOccurs="0"/>
		<xs:element ref="tns:quateOn" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

<!---=- end:EBO complexType defs -=- -->
	<!---=- end:EBO Content -=- -->
	 
</xs:schema>	