EXAMPLES/B_00000_v1.11/01_Workspace/02_SOA/01_MDS/B_00000_MDS/Commons/DC_RA_CHL-SALESFORCE_v1/CommonResources/LegacyResources/CHL-SALESFORCE-CRM/JMS_Billing/XSD/SALESFORCE_Notification.xsd

<schema targetNamespace="http://www.entel.cl/SALESFORCENotification"
	elementFormDefault="qualified" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.entel.cl/SALESFORCENotification">

	<complexType name="SALESFORCE_Notification_REQ_Type">
		<sequence>
			<element name="Body">
				<complexType>
					<sequence>
						<element name="TransferID" type="string"/>
						<element ref="tns:Client"/>
						<element ref="tns:NotifyChannel"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="SALESFORCE_Notification_REQ"
		type="tns:SALESFORCE_Notification_REQ_Type"/>

	<complexType name="SALESFORCE_Notification_RSP_Type">
		<sequence>
			<element name="Body">
				<complexType>
					<sequence>
						<element name="TransferID" type="string"/>
                                                <element name="ClientID" type="string" minOccurs="0"/>
						<element ref="tns:Notification"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="SALESFORCE_Notification_RSP" type="tns:SALESFORCE_Notification_RSP_Type"/>

	<simpleType name="Channel_SType">
		<restriction base="string">
			<enumeration value="EMAIL"/>
			<enumeration value="SMS"/>
			<enumeration value="HOMEBANKING"/>
		</restriction>
	</simpleType>
	<element name="NotifyChannel" type="tns:Channel_SType"/>

        <complexType name="Client_Type">
		<annotation/>
		<sequence>
			<element name="ClientID" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="ClientSurname" type="string" maxOccurs="1" minOccurs="0"/>
                        <element name="ClientName" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="NotificationEmail" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="NotificationSMS" type="string" maxOccurs="1" minOccurs="0"/>
                        <element name="NotificationHomeBanking" type="string" maxOccurs="1" minOccurs="0"/>
		</sequence>
        </complexType>
        <element name="Client" type="tns:Client_Type"/>   
        
        <complexType name="Notification_Type">
		<annotation/>
		<sequence>
			<element ref="tns:NotifyChannel" maxOccurs="1" minOccurs="1"/>
			<element name="NotifyCode" type="string" maxOccurs="1" minOccurs="1"/>
                        <element name="NotifyDescription" type="string" maxOccurs="1" minOccurs="1"/>
		</sequence>
    </complexType>
    <element name="Notification" type="tns:Notification_Type"/>
</schema>
