EXAMPLES/SV_RequestPhysicalResource_v1.0/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_SC_ErrorManager/SupportAPI/WSDL/ErrorManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.entel.cl/SC/ErrorManager/v1"
                  xmlns:handle="http://www.entel.cl/SC/ErrorManager/handle/v1"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:rcErrDic="http://www.entel.cl/SC/ErrorManager/refreshCache_ErrorDictionary/v1" name="ErrorManager"
                  xmlns:rsRtMng="http://www.entel.cl/SC/ErrorManager/RetryManager/getRetryStatus/v1"
                  xmlns:updRtMng="http://www.entel.cl/SC/ErrorManager/RetryManager/updateRetryStatus/v1"
                  xmlns:rdRtMng="http://www.entel.cl/SC/ErrorManager/RetryManager/retryDispatcher/v1"
                  targetNamespace="http://www.entel.cl/SC/ErrorManager/v1">
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.entel.cl/SC/ErrorManager/handle/v1"
                 schemaLocation="../XSD/CSM/handle_ErrorManager_v1_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/ErrorManager/refreshCache_ErrorDictionary/v1"
                 schemaLocation="../XSD/CSM/refreshCache_ErrorDictionary_v1_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/ErrorManager/RetryManager/getRetryStatus/v1"
                 schemaLocation="../XSD/CSM/getRetryStatus_RetryManager_v1_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/ErrorManager/RetryManager/updateRetryStatus/v1"
                 schemaLocation="../XSD/CSM/updateRetryStatus_RetryManager_v1_CSM.xsd"/>
      <xs:import namespace="http://www.entel.cl/SC/ErrorManager/RetryManager/retryDispatcher/v1"
                 schemaLocation="../XSD/CSM/retryDispatcher_RetryManager_v1_CSM.xsd"/>                 
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="handle_Message_In">
    <wsdl:part name="In" element="handle:HandleREQ"/>
  </wsdl:message>
  
  <wsdl:message name="handle_Message_Out">
    <wsdl:part name="Out" element="handle:HandleRSP"/>
  </wsdl:message>
  
  <wsdl:message name="getRetryStatus_Message_In">
    <wsdl:part name="In" element="rsRtMng:GetRetryStatus_REQ"/>
  </wsdl:message>
  
  <wsdl:message name="getRetryStatus_Message_Out">
    <wsdl:part name="Out" element="rsRtMng:GetRetryStatus_REQ"/>
  </wsdl:message>

  <wsdl:message name="updRetryStatus_Message_In">
    <wsdl:part name="In" element="updRtMng:UpdRetryStatus_REQ"/>
  </wsdl:message>
  
  <wsdl:message name="updRetryStatus_Message_Out">
    <wsdl:part name="Out" element="updRtMng:UpdRetryStatus_RSP"/>
  </wsdl:message>

  <wsdl:message name="retryDispatcher_Message_In">
    <wsdl:part name="In" element="rdRtMng:RetryDispatcher_REQ"/>
  </wsdl:message>
  
  <wsdl:message name="retryDispatcher_Message_Out">
    <wsdl:part name="Out" element="rdRtMng:RetryDispatcher_RSP"/>
  </wsdl:message>

  <wsdl:message name="refreshCache_ErrorDictionary_Message_In">
    <wsdl:part name="In" element="rcErrDic:RefreshCache_ErrorDictionaryREQ"/>
  </wsdl:message>
  
  <wsdl:message name="refreshCache_ErrorDictionary_Message_Out">
    <wsdl:part name="Out" element="rcErrDic:RefreshCache_ErrorDictionaryRSP"/>
  </wsdl:message>
  
  <wsdl:portType name="ErrorManager_PortType">
    <wsdl:operation name="handle">
      <wsdl:input message="tns:handle_Message_In"/>
      <wsdl:output message="tns:handle_Message_Out"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:portType name="RetryManager_PortType">
    <wsdl:operation name="getRetryStatus">
      <wsdl:input message="tns:getRetryStatus_Message_In"/>
      <wsdl:output message="tns:getRetryStatus_Message_Out"/>
    </wsdl:operation>
    <wsdl:operation name="updRetryStatus">
      <wsdl:input message="tns:updRetryStatus_Message_In"/>
      <wsdl:output message="tns:updRetryStatus_Message_Out"/>
    </wsdl:operation>
    <wsdl:operation name="retryDispatcher">
      <wsdl:input message="tns:retryDispatcher_Message_In"/>
      <wsdl:output message="tns:retryDispatcher_Message_Out"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="ErrorManager_CFG_PortType">
    <wsdl:operation name="refreshCache_ErrorDictionary">
      <wsdl:input message="tns:refreshCache_ErrorDictionary_Message_In"/>
      <wsdl:output message="tns:refreshCache_ErrorDictionary_Message_Out"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="ErrorManager_SOAP12Binding" type="tns:ErrorManager_PortType">
    <wsoap12:binding style="document" transport="http://www.bea.ErrorManager_PortType/wli/sb/transports/sb"/>
    <wsdl:operation name="handle">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="RetryManager_SOAP12Binding" type="tns:RetryManager_PortType">
    <wsoap12:binding style="document" transport="http://www.bea.ErrorManager_PortType/wli/sb/transports/sb"/>
    <wsdl:operation name="getRetryStatus">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updRetryStatus">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryDispatcher">
      <wsoap12:operation style="document" soapAction=""/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

   <wsdl:binding name="ErrorManager_CFG_SOAP12Binding" type="tns:ErrorManager_CFG_PortType">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="refreshCache_ErrorDictionary">
      <wsoap12:operation style="document" soapAction="http://www.entel.cl/SC/ErrorManager/v1/refreshCache"/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
 

  <wsdl:service name="ErrorManager_Service">
    <wsdl:port name="ErrorManager_Port" binding="tns:ErrorManager_SOAP12Binding">
      <wsoap12:address location="sb://ErrorManager"/>
    </wsdl:port>
    <wsdl:port name="RetryManager_Port" binding="tns:RetryManager_SOAP12Binding">
      <wsoap12:address location="sb://ErrorManager_RetryManager"/>
    </wsdl:port>
    <wsdl:port name="ErrorManager_CFG_Port" binding="tns:ErrorManager_CFG_SOAP12Binding">
      <wsoap12:address location="sb://ErrorManager_CFG"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>