EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_IE_Consumer_CREDITS_v1/IE/HTTPSOAP12/WSDL/CreditsServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ns1="http://www.credits.com/entidades/xsd" xmlns:tns="http://www.credits.com/flat/consumer"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://www.credits.com/flat/consumer">
  <wsdl:documentation>CreditsServices</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
               targetNamespace="http://www.credits.com/entidades/xsd" xmlns:tns="http://www.credits.com/entidades/xsd"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getConsumerREQ" type="tns:getConsumerREQ_Type"/>
      <xs:complexType name="getConsumerREQ_Type">
        <xs:sequence>
          <xs:element minOccurs="1" name="idTransaccion" type="xs:integer"/>
          <xs:element minOccurs="1" name="fechaYhoraTransaccion" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="ConsumerID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getConsumerRSP" type="tns:getConsumerRSP_Type"/>
      <xs:complexType name="getConsumerRSP_Type">
        <xs:sequence>
          <xs:element minOccurs="1" name="idTransaccion" type="xs:integer"/>
          <xs:element minOccurs="1" name="fechaYhoraTransaccion" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="ConsumerName" type="xs:string"/>
          <xs:element minOccurs="1" name="ConsumerSurename" type="xs:string"/>
          <xs:element minOccurs="1" name="ConsumerAge" type="xs:string"/>
          <xs:element minOccurs="1" name="ConsumerStatus" type="xs:string"/>
          <xs:element minOccurs="1" name="ConsumerLegalType" type="xs:string"/>
          <xs:element minOccurs="1" name="ResponseDateTime" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="delConsumerREQ" type="tns:delConsumerREQ_Type"/>
      <xs:complexType name="delConsumerREQ_Type">
        <xs:sequence>
          <xs:element minOccurs="1" name="idTransaccion" type="xs:integer"/>
          <xs:element minOccurs="1" name="fechaYhoraTransaccion" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="ConsumerID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="delConsumerRSP" type="tns:delConsumerRSP_Type"/>
      <xs:complexType name="delConsumerRSP_Type">
        <xs:sequence>
          <xs:element minOccurs="1" name="idTransaccion" type="xs:integer"/>
          <xs:element minOccurs="1" name="fechaYhoraTransaccion" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="ResponseCode" type="xs:string"/>
          <xs:element minOccurs="1" name="ResponseDescription" type="xs:string"/>
          <xs:element minOccurs="1" name="ResponseDateTime" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getConsumerRequest">
    <wsdl:part name="parameters" element="ns1:getConsumerREQ"/>
  </wsdl:message>
  <wsdl:message name="getConsumerResponse">
    <wsdl:part name="parameters" element="ns1:getConsumerRSP"/>
  </wsdl:message>
  <wsdl:message name="delConsumerRequest">
    <wsdl:part name="parameters" element="ns1:delConsumerREQ"/>
  </wsdl:message>
  <wsdl:message name="delConsumerResponse">
    <wsdl:part name="parameters" element="ns1:delConsumerRSP"/>
  </wsdl:message>
  <wsdl:portType name="ConsumerPortType">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getConsumerRequest"/>
      <wsdl:output message="tns:getConsumerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="del">
      <wsdl:input message="tns:delConsumerRequest"/>
      <wsdl:output message="tns:delConsumerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsumerBinding" type="tns:ConsumerPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <soap12:operation soapAction="urn:getConsumer"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="del">
      <soap12:operation soapAction="urn:delConsumer"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsumerServiciosCredit">
    <wsdl:port name="ConsumerPortType" binding="tns:ConsumerBinding">
      <soap12:address location="http://www.credit.com/flat/consumer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>