EXAMPLES/B_00000_v1.11/01_Workspace/02_SOA/02_SCA/DC_SC_ErrorManager/ErrorDerivation/SOA/Schemas/CALL_SP_ERROR_DERIVATION_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CALL_SP_ERROR_DERIVATION" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CALL_SP_ERROR_DERIVATION" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_SOURCE_ERROR_CODE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
