EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_IE_Consumer_CREDITS_v1/IE/HTTPSOAP11/WSDL/Consumer_SOAP11_v1_ESC.wsdl

<wsdl:definitions targetNamespace="http://www.entel.cl/ESC/Consumer/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ebmns_get="http://www.entel.cl/EBM/Consumer/get/v1" xmlns:ebmns_upd="http://www.entel.cl/EBM/Consumer/upd/v1" xmlns:ebmns_del="http://www.entel.cl/EBM/Consumer/del/v1" xmlns:tns="http://www.entel.cl/ESC/Consumer/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
            <xs:schema>
                <xs:import namespace="http://www.entel.cl/EBM/Consumer/get/v1" schemaLocation="../../../../ES_Consumer_v1/ESC/Primary/get_Consumer_v1_EBM.xsd"/>
                <xs:import namespace="http://www.entel.cl/EBM/Consumer/upd/v1" schemaLocation="../../../../ES_Consumer_v1/ESC/Primary/upd_Consumer_v1_EBM.xsd"/>
                <xs:import namespace="http://www.entel.cl/EBM/Consumer/del/v1" schemaLocation="../../../../ES_Consumer_v1/ESC/Primary/del_Consumer_v1_EBM.xsd"/>
            </xs:schema>                
	</wsdl:types>
	<wsdl:message name="get_Message_In">
		<wsdl:part name="In" element="ebmns_get:Get_Consumer_REQ"/>
	</wsdl:message>
        <wsdl:message name="get_Message_Out">
		<wsdl:part name="Out" element="ebmns_get:Get_Consumer_RSP"/>
	</wsdl:message>
	<wsdl:message name="get_Message_Fault">
		<wsdl:part name="Fault" element="ebmns_get:Get_Consumer_FRSP"/>
	</wsdl:message>
	<wsdl:message name="upd_Message_In">
		<wsdl:part name="In" element="ebmns_upd:Upd_Consumer_REQ"/>
	</wsdl:message>
        <wsdl:message name="upd_Message_Out">
		<wsdl:part name="Out" element="ebmns_upd:Upd_Consumer_RSP"/>
	</wsdl:message>
        <wsdl:message name="upd_Message_Callback">
		<wsdl:part name="Callback" element="ebmns_upd:Upd_Consumer_CRSP"/>
	</wsdl:message>
	<wsdl:message name="upd_Message_Fault">
		<wsdl:part name="Fault" element="ebmns_upd:Upd_Consumer_FRSP"/>
	</wsdl:message>
	<wsdl:message name="del_Message_In">
		<wsdl:part name="In" element="ebmns_del:Del_Consumer_REQ"/>
	</wsdl:message>
	<wsdl:message name="del_Message_Out">
		<wsdl:part name="Out" element="ebmns_del:Del_Consumer_RSP"/>
	</wsdl:message>
	<wsdl:message name="del_Message_Fault">
		<wsdl:part name="Fault" element="ebmns_del:Del_Consumer_FRSP"/>
	</wsdl:message>        
	<wsdl:portType name="Consumer_PortType">
		<wsdl:operation name="get">
			<wsdl:input message="tns:get_Message_In"/>
			<wsdl:output message="tns:get_Message_Out"/>
			<wsdl:fault name="DefaultFault" message="tns:get_Message_Fault"/>
		</wsdl:operation>
		<wsdl:operation name="upd">
			<wsdl:input message="tns:upd_Message_In"/>
			<wsdl:output message="tns:upd_Message_Out"/>
			<wsdl:fault name="DefaultFault" message="tns:upd_Message_Fault"/>
		</wsdl:operation>
                <wsdl:operation name="upd_Callback">
			<wsdl:output message="tns:upd_Message_Callback"/>
		</wsdl:operation>
		<wsdl:operation name="del">
			<wsdl:input message="tns:del_Message_In"/>
			<wsdl:output message="tns:del_Message_Out"/>
			<wsdl:fault name="DefaultFault" message="tns:del_Message_Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Consumer_SOAP11Binding" type="tns:Consumer_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.entel.cl/EBM/Consumer/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DefaultFault">
				<soap:fault name="DefaultFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="upd">
			<soap:operation soapAction="http://www.entel.cl/EBM/Consumer/upd/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DefaultFault">
				<soap:fault name="DefaultFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
                <wsdl:operation name="upd_Callback">
			<soap:operation soapAction="http://www.entel.cl/EBM/Consumer/upd/v1"/>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="del">
			<soap:operation soapAction="http://www.entel.cl/EBM/Consumer/del/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DefaultFault">
				<soap:fault name="DefaultFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>                
	</wsdl:binding>
	<wsdl:service name="Consumer_Service">
		<wsdl:port name="Consumer_Port" binding="tns:Consumer_SOAP11Binding">
			<soap:address location="http://www.entel.cl/IE/Consumer/HTTPSOAP11/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>