EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/ES_Consumer_v1/ESC/Secondary/Consumer_v1_ESC.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ES_Consumer_v1">Consumer</doc>
   <resources>
      <resource path="/get">
        <doc>Get
        </doc>
         <method name="POST" soa:name="get">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" />
            </response>
         </method>
      </resource>
      <resource path="/put">
         <doc>Put
        </doc>
         <method name="POST" soa:name="put">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" />
            </response>
         </method>
      </resource>
      <resource path="/upd">
         <doc>Update
        </doc>
         <method name="POST" soa:name="upd">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" />
            </response>
         </method>
      </resource>
      <resource  path="/del">
        <doc>Delete
        </doc>
        <method name="POST" soa:name="del">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" />
            </response>
         </method>
      </resource>
   </resources>
</application>