EXAMPLES/SV_RequestPhysicalResource_v1.0/01_Workspace/01_OSB/ENTEL_ServiceBusApp/SR_Commons/XSD/CSM/TransportWrapper_v1_CSM.xsd

<xsd:schema targetNamespace="http://www.entel.cl/CSM/TransportWrapper/v1" 
elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.entel.cl/CSM/TransportWrapper/v1" 
xmlns:eddns_dictionary="http://www.entel.cl/EDD/Dictionary/v1" 
xmlns:esons_endpointConfiguration="http://www.entel.cl/ESO/EndpointConfiguration/v1" 
xmlns:esons_result="http://www.entel.cl/ESO/Result/v2" 
xmlns:esons_header="http://www.entel.cl/ESO/MessageHeader/v1"
xmlns:lwCommons="http://www.entel.cl/CSM/LegacyWrapper/Aux/Common"
>
  
  <xsd:import namespace="http://www.entel.cl/EDD/Dictionary/v1" schemaLocation="../EDD/Dictionary_v1_EDD.xsd"/>   
  <xsd:import namespace="http://www.entel.cl/ESO/MessageHeader/v1" schemaLocation="../ESO/MessageHeader_v1_ESO.xsd"/>
  <xsd:import namespace="http://www.entel.cl/ESO/Result/v2" schemaLocation="../ESO/Result_v2_ESO.xsd"/>
  <xsd:import namespace="http://www.entel.cl/CSM/LegacyWrapper/Aux/Common"
              schemaLocation="../LegacyWrapper_Common.xsd"/>
  <xsd:import namespace="http://www.entel.cl/ESO/EndpointConfiguration/v1" schemaLocation="../ESO/EndpointConfiguration_v1_ESO.xsd"/>

  <xsd:element name="TwREQ" type="TwREQ_Type">
    <xsd:annotation>
      <xsd:documentation>Request message for every Legacy Wrapper Instance</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="TwREQ_Type">
      <xsd:sequence>
          <xsd:element ref="esons_header:RequestHeader"/>
          <xsd:element name="LegacyREQ" type="xsd:anyType"/>
          <xsd:element ref="lwCommons:RaDetails"/>
          <xsd:element ref="esons_endpointConfiguration:Endpoint"/>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>