EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_RA_CHL-SALESFORCE_v1/CommonResources/LegacyResources/CHL-SALESFORCE-CRM/HTTPSOAP12/WSDL/SALESFORCE_CommonAPI_v13.1.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.entel.salesforce.cl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.entel.salesforce.cl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.entel.salesforce.cl/">
			<s:element name="ClientObtain_REQUEST">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_ID" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_TYPE" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ClientObtain_RESPONSE">
				<s:complexType>
					<s:sequence>
						<s:element name="CLI_NAME" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="CLI_SNAME" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="CLI_AGE" type="s:int" maxOccurs="1" minOccurs="0"/>
						<s:element name="CLI_STAT" type="s:string" maxOccurs="1" minOccurs="1"/>
                                                <s:element name="CLI_TYPE" type="s:string" maxOccurs="1" minOccurs="0"/>
						<s:element name="STATUS_CODE" type="s:int" maxOccurs="1" minOccurs="1"/>
						<s:element name="STATUS_DESC" type="s:string" maxOccurs="1" minOccurs="1"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.entel.salesforce.cl/">
			<s:element name="ClientDelete_REQUEST">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_ID" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_TYPE" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ClientDelete_RESPONSE">
				<s:complexType>
					<s:sequence>
						<s:element name="CLI_DESC" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="CLI_STAT" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="STATUS_CODE" type="s:int" maxOccurs="1" minOccurs="1"/>
						<s:element name="STATUS_DESC" type="s:string" maxOccurs="1" minOccurs="1"/>						
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ClientObtain_SoapIn">
		<wsdl:part name="parameters" element="tns:ClientObtain_REQUEST"/>
	</wsdl:message>
	<wsdl:message name="ClientObtain_SoapOut">
		<wsdl:part name="parameters" element="tns:ClientObtain_RESPONSE"/>
	</wsdl:message>
	<wsdl:message name="ClientDelete_SoapIn">
		<wsdl:part name="parameters" element="tns:ClientDelete_REQUEST"/>
	</wsdl:message>
	<wsdl:message name="ClientDelete_SoapOut">
		<wsdl:part name="parameters" element="tns:ClientDelete_RESPONSE"/>
	</wsdl:message>
	<wsdl:portType name="SALESFORCE_COMMONAPI_Soap">
		<wsdl:operation name="ClientObtain">
			<wsdl:input message="tns:ClientObtain_SoapIn"/>
			<wsdl:output message="tns:ClientObtain_SoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ClientDelete">
			<wsdl:input message="tns:ClientDelete_SoapIn"/>
			<wsdl:output message="tns:ClientDelete_SoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SALESFORCE_COMMONAPI_Soap12" type="tns:SALESFORCE_COMMONAPI_Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ClientObtain">
			<soap12:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ClientDelete">
			<soap12:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SALESFORCE_COMMONAPI">
		<wsdl:port name="SALESFORCE_COMMONAPI_Soap12" binding="tns:SALESFORCE_COMMONAPI_Soap12">
			<soap12:address location="http://localhost:9001/salesforcesoap12"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>