EXAMPLES/PortabilityOrder_v1_ESC/Services/PortabilityOrder_v1/EBM/Cancel_PortabilityOrder_v1_EBM.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:header="http://www.entel.cl/ESO/MessageHeader/v1" 
	xmlns:tns="http://www.entel.cl/EBM/PortabilityOrder/Cancel/v1"
	xmlns:ebons_requester="http://www.entel.cl/EBO/Requester/v1"
	xmlns:ebons_portabilityorder="http://www.entel.cl/EBO/PortabilityOrder/v1"
	xmlns:ebons_holder="http://www.entel.cl/EBO/Holder/v1"
	xmlns:ebons_portabilitydocument="http://www.entel.cl/EBO/PortabilityDocument/v1"
	xmlns:ebons_individualidentification="http://www.entel.cl/EBO/IndividualIdentification/v1"
	
	targetNamespace="http://www.entel.cl/EBM/PortabilityOrder/Cancel/v1"
	elementFormDefault="qualified" version="1.0">	

	 <!---=- start:Imports -=- -->
	 <import namespace="http://www.entel.cl/ESO/MessageHeader/v1" schemaLocation="../../../Commons/ESO/MessageHeader_v1_ESO.xsd"/>
	<import namespace="http://www.entel.cl/EBO/Requester/v1" schemaLocation="../../../SID/EngagedPartyDomain/Requester_v1_EBO.xsd"/>
	<import namespace="http://www.entel.cl/EBO/PortabilityOrder/v1" schemaLocation="../../../SID/EngagedPartyDomain/PortabilityOrder_v1_EBO.xsd"/>
	<import namespace="http://www.entel.cl/EBO/Holder/v1" schemaLocation="../../../SID/EngagedPartyDomain/Holder_v1_EBO.xsd"/>
	<import namespace="http://www.entel.cl/EBO/PortabilityDocument/v1" schemaLocation="../../../SID/EngagedPartyDomain/PortabilityDocument_v1_EBO.xsd"/>
	<import namespace="http://www.entel.cl/EBO/IndividualIdentification/v1" schemaLocation="../../../SID/EngagedPartyDomain/IndividualIdentification_v1_EBO.xsd"/>
	
	 <!---=- end:Imports -=- -->
	 
	 <!---=- start:EBM Content -=- -->
	
					
		<element name="Cancel_PortabilityOrder_CRSP" type="tns:Cancel_PortabilityOrder_CRSP_Type"/>
		<complexType name="Cancel_PortabilityOrder_CRSP_Type">
		<sequence>
			<element ref="header:ResponseHeader"/>	
			<element name="Body">		
				<complexType>	
					<sequence>							
						
                	<element name="PortabilityOrder" maxOccurs="1" minOccurs="0">
                		<complexType>
                		<sequence>
                		<element ref="ebons_portabilityorder:messageDate" maxOccurs="1" minOccurs="1"/>
                			<element ref="ebons_portabilityorder:portabilityRequestStatus" maxOccurs="1" minOccurs="1"/>
                			<element ref="ebons_portabilityorder:requestCancelationID" maxOccurs="1" minOccurs="1"/>
                			
                		</sequence>	
                		</complexType>	
                	</element>
                		
                	
						</sequence>
											
				</complexType>								
			</element>
		</sequence>
		</complexType>
	
					
		<element name="Cancel_PortabilityOrder_REQ" type="tns:Cancel_PortabilityOrder_REQ_Type"/>
		<complexType name="Cancel_PortabilityOrder_REQ_Type">
		<sequence>
			<element ref="header:RequestHeader"/>
			<element name="Body">		
				<complexType>	
					<sequence>							
						
                	<element name="PortabilityOrder" maxOccurs="1" minOccurs="1">
                		<complexType>
                		<sequence>
                		<element ref="ebons_portabilityorder:operatorDestination" maxOccurs="1" minOccurs="1"/>
                			<element ref="ebons_portabilityorder:portabilityDescription" maxOccurs="1" minOccurs="1"/>
                			<element ref="ebons_portabilityorder:requestId" maxOccurs="1" minOccurs="1"/>
                			<element ref="ebons_portabilityorder:transactionNumber" maxOccurs="1" minOccurs="1"/>
                			
                        	<element name="Holder" maxOccurs="1" minOccurs="1">
                        		<complexType>
                        		<sequence>
                        		
                                	<element name="individualIdentification" maxOccurs="1" minOccurs="1">
                                		<complexType>
                                		<sequence>
                                		<element ref="ebons_individualidentification:number" maxOccurs="1" minOccurs="1"/>
                                			
                                		</sequence>	
                                		</complexType>	
                                	</element>
                                		
                                	
                        			
                        		</sequence>	
                        		</complexType>	
                        	</element>
                        		
                        	
                			
                        	<element name="PortabilityDocument" maxOccurs="unbounded" minOccurs="0">
                        		<complexType>
                        		<sequence>
                        		<element ref="ebons_portabilitydocument:type" maxOccurs="1" minOccurs="1"/>
                        			<element ref="ebons_portabilitydocument:urlDocument" maxOccurs="1" minOccurs="1"/>
                        			
                        		</sequence>	
                        		</complexType>	
                        	</element>
                        		
                        	
                			
                        	<element name="Requester" maxOccurs="1" minOccurs="1">
                        		<complexType>
                        		<sequence>
                        		
                                	<element name="individualIdentification" maxOccurs="1" minOccurs="1">
                                		<complexType>
                                		<sequence>
                                		<element ref="ebons_individualidentification:number" maxOccurs="1" minOccurs="1"/>
                                			
                                		</sequence>	
                                		</complexType>	
                                	</element>
                                		
                                	
                        			
                        		</sequence>	
                        		</complexType>	
                        	</element>
                        		
                        	
                			
                		</sequence>	
                		</complexType>	
                	</element>
                		
                	
						</sequence>
											
				</complexType>								
			</element>
		</sequence>
		</complexType>
	
	
	<element name="Cancel_PortabilityOrder_RSP" type="tns:Cancel_PortabilityOrder_RSP_Type"/>
		<complexType name="Cancel_PortabilityOrder_RSP_Type">
			<sequence>
				<element ref="header:ResponseHeader"/>
				<element name="Body">
					<complexType>
						<sequence/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	
	<element name="Cancel_PortabilityOrder_FRSP" type="tns:Cancel_PortabilityOrder_FRSP_Type"/>
	<complexType name="Cancel_PortabilityOrder_FRSP_Type">
		<sequence>
			<element ref="header:ResponseHeader"/>
			<element name="Body">
				<complexType>
					<sequence/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	 <!---=- end:EBM Content -=- -->
	 
</schema>	