EXAMPLES/B_00000_v1.11/01_Workspace/01_OSB/ENTEL_ServiceBusApp/DC_RA_INT-AS400_v1/CommonResources/LegacyResources/INT-AS400-CLI/HTTPSOAP11/WSDL/CLI_API_v1.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.entel.as400.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.entel.as400.com/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.entel.as400.com/">
			<s:element name="ClientDelete_REQUEST">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_ID" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="CLI_TYPE" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ClientDelete_RESPONSE">
				<s:complexType>
					<s:sequence>
						<s:element name="CLI_DESC" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="CLI_STAT" type="s:string" maxOccurs="1" minOccurs="1"/>
						<s:element name="STATUS_CODE" type="s:int" maxOccurs="1" minOccurs="1"/>
						<s:element name="STATUS_DESC" type="s:string" maxOccurs="1" minOccurs="1"/>						
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ClientDelete_SoapIn">
		<wsdl:part name="parameters" element="tns:ClientDelete_REQUEST"/>
	</wsdl:message>
	<wsdl:message name="ClientDelete_SoapOut">
		<wsdl:part name="parameters" element="tns:ClientDelete_RESPONSE"/>
	</wsdl:message>
       
	<wsdl:portType name="AS400_CLI_Soap">
		<wsdl:operation name="ClientDelete">
			<wsdl:input message="tns:ClientDelete_SoapIn"/>
			<wsdl:output message="tns:ClientDelete_SoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AS400_CLI_Soap11" type="tns:AS400_CLI_Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ClientDelete">
			<soap:operation soapAction="http://www.entel.as400.com/clientDelete" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AS400_CLI">
		<wsdl:port name="AS400_CLI_Soap11" binding="tns:AS400_CLI_Soap11">
			<soap:address location="http://localhost:9001/as400/client"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>